@import url("https://font.googleapis.com/css?family=Lato");

body{
    padding: 0;
    margin: 0;
}
.form-log {
    display: flex;
    background: #DCDCDC;
}
.btn {
    top: 8px;
    right: 16px;
    position: absolute;
    font-size: large;
    padding: 5px;
    margin: 10px;
    font-family: 'Lato', sans-serif;
   
}

.container h3 {
    font-size: 2rem;
    margin-bottom: 35px;
    color: black;
    text-align: center
}

.container hr {
    width: 200px;
    height: 2px;
    margin: 13px auto;
    background-color: black;
    margin-bottom: 70px;
    border: none;
}
.container {
    width: 100vw;
    height: 100vh;
    background: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.form-box {
    width: 300px;
    background: #fff;
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border-top: 10px solid #0984e3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

}

.form-box .form-input {
    border: none;
    background: #eee;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: large;
    margin-bottom: 10px;
}

.form-box .form-btn {
    border: none;
    background: #0984e3;
    width: 100%;
    height: 50px;
    font-size: large;
    color: #fff;
    margin-bottom: 10px;

}
@media screen and (max-width:340px){
    .form-box {
        width: 100vw;
        height: 100vh;
    }
}