*{
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
	background: aliceblue;
    margin-bottom: 100px;
}

nav, ul {list-style: none;}

a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
}
a:hover {opacity: 1;}

.text-1 h1 {
  text-align: center;
  margin-top: 100px;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

nav, ul {list-style: none;}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background: #fff;
  box-shadow: 0 5px 11px 0 rgba(50,50,50,.08);
}

/* tamanho da imagem*/
.img-logo { width: 180px;}

.nav ul {display: flex; }
header  li a {color: #288BE4;}
header  li {margin: 0 15px; text-align: center;}

/* tirando a margin da esquerda*/
header li:first-child {margin-left: 0;}

/* tirando a margin da direta*/
header li:last-child {margin-right: 0;}

@media(max-width: 700px) {
  header {flex-direction: column;}
  header img {margin-bottom: 15px;}
}

.menu {
  display: flex;
}

.menu  li {
  margin-left: 10px;
}

.menu  li a {
  display: block;
  padding: 10px;
}

hr {
    width: 200px;
    height: 2px;
    margin: 13px auto;
    background-color: black;
    margin-bottom: 20px;
    border: none;
}

/* CSS FLEXBOX 1 */

.flex {
  display: flex;
  flex-flow: row wrap;
  max-width: 800px;
  margin: 0 auto;
}

.flex > div {
  flex: 1 1 200px;
  margin: 20px;
}

.flex p {
  padding: 15px;
}

.flex div {
  color:black;
  padding: 7px;
  width: 250px;
 /*  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  text-align: center;
  
}
.flex a i {
	color: black;
	margin: 3px; 
	font-size: 1.5rem;	
}
.flex img {
  border: 6px solid darkcyan;
  padding: 10px;
  border-radius: 50%;
  max-width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}