<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset='UTF-8'>
     <link rel="shortcut icon" href="/img/turmalinasPreto.png" type="image/x-icon">
    <title>Dashbord Turmalinas</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" data-integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe" data-crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' href='css/gereci.css'>
</head>
<body>

    <section class="centro">
        <h1>Dashbord</h1>
    </section>

    <section id="inicio" class="menu">
        <ul class="grid">
            <li>
                <a class="btn" href="/evento"><i class="far fa-calendar-alt"></i></a>
                <h4>Eventos</h4>
            </li>
                    
            <li>
                <a class="btn" href=""><i class="fas fa-users"></i></a>
                <h4>Membros</h4>
            </li>
            
            <li>
                <a class="btn" href=""><i class="fas fa-archive"></i></a>
                <h4>Produtos</h4>
            </li>
            
            <li>
                <a class="btn" href=""><i class="fas fa-book"></i></a>
                <h4>Publicações</h4>
            </li>
        </ul>
    
    </section>

</body>
</html>