<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
     <link rel="shortcut icon" href="/img/turmalinasPreto.png" type="image/x-icon">
    <title>Turmalinas Tech</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" data-integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe" data-crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' href='/css/main.css'>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/scripts/main.js"></script>
</head>
<body>
    <div class="btn-voltar" data-container="botao-voltar">
        <a href=""><i class="fas fa-chevron-circle-up"></i></a>
    </div>
    
     <header>
        <a href="/"><img class="img-logo" src="/img/logo/turmalinasTechAzul1.png" alt="Logo Tipo"></a>
         <nav class="nav"  data-container="menu">
         <ul>
            <li><a href="#turmalinas">Sobre nós</a></li>
            <li><a href="/membros">Membros</a></li>
            <li><a href="#">Eventos</a></li>
            <li><a href="#">Publicações</a></li>
            <li><a href="/produtos">Produtos</a></li>
            <li><a href="#contat">Contato</a></li>
         </ul>       
        </nav>
    </header>
  
    <section id="home" class="header-1">
        <h1>Computação é para Meninas</h1>
        <h3>Return Empoderamento ++;</h3>
        <a class="btn" href="">Saiba mais</a>
    </section>

    <section id="turmalinas" class="conheca-turmalinas">
      <div class="item">
        <h1>PRICIPAIS OBJETIVOS</h1>
        <p>Tem como intuito principal investigar sobre a atuação da mulher e seus desafios na área da tecnologia, além de apoiar e emponderar as discentes do sexo feminino da instituição a fim de minimizar os índices de evasão nos cursos de tecnologia.</p>
      </div>
      <div class="item">
        <h1>SIGNFICADO DA NOSSA LOGO</h1>
        <p>O nome foi escolhido para representar quão preciosas nós somos dentro da nossa sociedade e como precisamos nos valorizar de tal forma (turmalina é uma pedra preciosa existente em nossa região). Além disso, nossa logo trás uma inspiração do o ícone USB com o termo “resiliência”. A resiliência é destacada por ser uma das bases do projeto e ser a bandeira do feminismo, da luta da mulher por seu espaço, pela igualdade e direitos garantidos. O cacto também soma o aspecto de representatividade regional, já que estamos no Estado da Paraíba e esse tipo de planta é típica de nossa região.</p>
      </div>
      <hr>
    </section>

    <section id="contat" class="contatos">
        <h3>Contatos</h3>
        <p>Caso tenha alguma dúvida, não hesite em nos contactar. :)</p>
        <hr>
            <ul class="grid">
                <li>
                    <a href="https://goo.gl/maps/nqqLve3HYpE3fecy5"><i class="fas fa-map-marker-alt"></i></a>
                    <h4>Localização</h4>
                    <p>IESP Faculdades - João Pessoa</p>
                </li>
                <li>
                    <a href="mailto:turmalinastech@gmail.com"><i class="fas fa-envelope"></i></a>
                    <h4>E-mail</h4>
                    <p>turmalinastech@gmail.com</p>
                </li>
                <li>
                    <a href="https://www.instagram.com/turmalinastech/"><i class="fab fa-instagram"></i></a>
                    <h4>Instagram</h4>
                    <p>@turmalinastech</p>
                </li>
            </ul>
    </section>

    <section id="coment" class="newsletter">
        <h3>Fale Conosco</h3>
        <p>Partilhe com a gente sobre a sua experiência na area, conte sobre como foi o perido da graduação e o que te motivou a contiinuar, e seguir em frente. conte sua historia.</p>
        <hr>
        <form>
            <input type="text" placeholder="Digite seu e-mail">
            <button>Cadastrar</button>
        </form>
    </section>
    <footer>
        <img src="/img/turmalinasBranco.png" alt="turmalina">
        <p>Todos os direitos reservados - Copyright © 2019 </p>
    </footer>
</body>
</html>
