<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset='UTF-8'>
     <link rel="shortcut icon" href="/img/turmalinasPreto.png" type="image/x-icon">
    <title>Turmalinas Tech</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" data-integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe" data-crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' href='/css/main.css'>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/scripts/main.js"></script>
</head>
<body>
    <div class="btn-voltar" data-container="botao-voltar">
        <a href=""><i class="fas fa-chevron-circle-up"></i></a>
    </div>
 
     <header>
        <a href="/"><img class="img-logo" src="/img/logo/turmalinasTechAzul1.png" alt="Logo Tipo"></a>
         <nav class="nav" data-container="menu">
         <ul>
            <li class="dropdown"><a href="#sobrenos" class="dropbtn">Sobre nós</a>
            	<div class="dropdown-content"><a href="#atividades">Nossas Atividades</a></div>
            </li>
            <li><a href="/membros">Membros</a></li>
            <li><a href="/eventos">Eventos</a></li>
            <li><a href="#">Publicações</a></li>
            <li><a href="/produtos">Produtos</a></li>
            <li><a href="#contato">Contato</a></li>      
            <li sec:authorize="hasAuthority('ROLE_ADMIN')"><a href=/gerenciamento>Gerenciamento</a>
            </li>
         </ul>       
        </nav>
    </header> 
    
    <section id="home" class="header-1">
    </section>
    
    <section id="sobrenos" class="atvd">
    	<h3>Sobre nós</h3>
    </section>
    
   <section class="conheca-turmalinas">
   	<div class="col-1">
     	<img src="./img/logo/turmalinasLogoCinza.png">
    </div>
    <div class="col-2">
      <div class="titulo">
      	<h1>Principais Objetivos</h1>
      </div>
      <div class="text">
        <p>Tem como intuito principal investigar sobre a atuação da mulher e seus desafios na área da tecnologia, além de apoiar e emponderar as discentes do sexo feminino da instituição a fim de minimizar os índices de evasão nos cursos de tecnologia.</p>
       </div>
       <div class="titulo">
      	<h1>Por que Turmalinas?</h1>
      </div>
       <div class="text">
       	  <p>O nome foi escolhido para representar quão preciosas nós somos dentro da nossa sociedade e como precisamos nos valorizar de tal forma (Turmalina é uma pedra preciosa existente em nossa região).</p>
       </div>
       <div class="titulo">
           <h1>Significado da Logo</h1>
       </div>
       <div class="text">
          <p>A nossa logo trás uma inspiração do o ícone USB com o termo “resiliência”. A resiliência é destacada por ser uma das bases do projeto e ser a bandeira do feminismo, da luta da mulher por seu espaço, pela igualdade e direitos garantidos. O cacto também soma o aspecto de representatividade regional, já que estamos no Estado da Paraíba e esse tipo de planta é típica de nossa região.</p>
       </div>
      </div>
   </section>
    
    <section id="contato" class="contatos">
        <h3>Contatos</h3>
        <p>Para mais informações. Não hesite em nos contactar.</p>
        <hr>
            <ul class="grid">
                <li>
                    <a href="https://goo.gl/maps/nqqLve3HYpE3fecy5"><i class="fas fa-map-marker-alt"></i></a>
                    <h4>Localização</h4>
                    <p>IESP Faculdades - PB</p>
                </li>
                <li>
                    <a href="https://www.instagram.com/turmalinastech/"><i class="fab fa-instagram"></i></a>
                    <h4>Instagram</h4>
                    <p>@turmalinastech</p>
                </li>
                <li>
                    <a href="mailto:turmalinastech@gmail.com"><i class="fas fa-envelope"></i></a>
                    <h4>E-mail</h4>
                    <p>turmalinastech@gmail.com</p>
                </li>
            </ul>
    </section>
    
    <section id="atividades" class="atvd">
    	<h3>Nossas Atividades</h3>
    </section>
     
    <section class="flex">
       <div>
        <img src="./img/vetor11.jpeg">
        <h3>Entretenimento</h3>
        <p>Realizamos reuniões semestrais para reunir todas as meninas da instituição e também para acolher as que estão iniciando no curso. Falamos sobre assuntos academicos, são momentos para compartilhar, dinâmicas para descontrair.</p>
      </div>
      <div>
        <img src="./img/vetor2.jpeg">
        <h3>Pesquisa</h3>
        <p>Temos projeto de pesquisas que são desenvolvidos caso de estudo entre as meninas para criação de artigos e livro e que serão publicados.</p>
      </div>
      <div>
        <img src="./img/vetor3.jpg">
        <h3>Qualificação</h3>
        <p>São realizados cursos e oficinas com intuito de capacitá-las. E também com a certificações dos cursos que participou, elas podem ministrar palestras/cursos.</p>
      </div>
    </section>

    <footer>
        <img src="/img/turmalinasBranco.png" alt="turmalina">
        <p>Todos os direitos reservados - Copyright © 2019 </p>
    </footer>
</body>
</html>
