<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="img/turmalinasPreto.png" type="image/x-icon">
    <title>Turmalinas Tech</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='/css/evento.css'>
	

</head>
<body>

 <div th:replace="fragments/menu :: navbar">
   </div>
   
	<div class="containerGeral">
		
		<div class="center">
   	 		<h1>Eventos Disponiveis</h1>
   	    </div>
   
		<div class="">
				<table class="table">
				
					<thead>
						<tr>
							<th>Nome</th>
							<th>Local</th>
							<th>Palestrante</th>
							<th>Hora</th>
							<th>Data</th>
						</tr>
					</thead>
					
					<tbody>
					
						<tr th:each="evento : ${eventos}">
						
							<td th:text="${evento.nome}"></td>
							<td th:text="${evento.local}"></td>
							<td th:text="${evento.palestrante}"></td>
							<td th:text="${evento.horario}"></td>
							<td th:text="${evento.data}"></td>
							
							<td class="opcao" sec:authorize="hasAuthority('ROLE_ADMIN')">
							
								<div class="btn-group pull-right">
									<a class="opcao-1" th:href="@{/edit/{id}(id=${evento.id})}">Editar</a>
									<a class="opcao-2" th:href="@{/delete/{id}(id=${evento.id})}">Excluir</a>
								</div>
								
							</td>
						</tr>
					</tbody>
				</table>
			</div>
	</div>
</body>
</html>