<!DOCTYPE html>
<html>
  <head>
   <meta charset='UTF-8'>
     <link rel="shortcut icon" href="/img/turmalinasPreto.png" type="image/x-icon">
    <title>Turmalinas Tech</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" data-integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe" data-crossorigin="anonymous">
    <link rel="stylesheet" type='text/css' href="/css/style.css" />
  </head>
  <body>
  
  <header>
        <a href="/"><img class="img-logo" src="/img/logo/turmalinasTechAzul1.png" alt="Logo Tipo"></a>
         <nav class="nav"  data-container="menu">
         <ul>
            <li><a href="#turmalinas">Sobre nós</a></li>
            <li><a href="/membros">Membros</a></li>
            <li><a href="#">Eventos</a></li>
            <li><a href="#">Publicações</a></li>
            <li><a href="/produtos">Produtos</a></li>
            <li><a href="#contat">Contato</a></li>
         </ul>       
        </nav>
    </header>
    
    <h1>Co-Fundadoras</h1>
    <hr>
    <section class="flex">
      <div>
        <img src="/img/membros/alanamm.jpg">
        <p>Alana Morais Doutora Mestrada Professora Doutora Mestrada Professora Doutora Mestrada Professora</p>
      </div>
      <div>
        <img src="/img/membros/alinemm.jpg">
        <p>Aline Morais Doutora Mestrada Professora Doutora Mestrada Professora Doutora Mestrada Professora</p>
      </div>
      <div>
        <img src="/img/membros/sheylana.jpg">
        <p>Sheyla Medeiros Doutora Mestrada Professora Doutora Mestrada Professora Doutora Mestrada Professora</p>
      </div>
    </section>

      <h1>Equipe</h1>
      <hr>
    <section class="flex">
        <div>
            <img src="/img/membros/lycia.jpg">
            <p>Estudante</p>
          </div>
          <div>
            <img src="/img/membros/raissa.jpg">
            <p>Estudante</p>
          </div>
          <div>
             <img src="/img/membros/mel.jpg">
            <p>Estudante</p>
          </div>
          <div>
            <img src="/img/membros/priscilla.jpg">
            <p>Estudante</p>
          </div>
          <div>
            <img src="/img/membros/mariana.jpg">
            <p>Estudante</p>
          </div>
          <div>
            <img src="/img/membros/cris.jpg">
            <p>Estudante</p>
          </div>
          <div>
            <img src="/img/membros/isabelle.jpg">
            <p>Estudante</p>
          </div>
          <div>
            <img src="/img/membros/jussara.jpg">
            <p>Estudante</p>
          </div>
          <div>
             <img src="/img/membros/priscilla-2.jpg">
            <p>Estudante</p>
          </div>
          <div>
            <img src="/img/membros/ayrana.jpg">
            <p>Estudante</p>
          </div>
          <div>
            <img src="/img/membros/tamiris.jpg">
            <p>Estudante</p>
          </div>
          <div>
            <img src="/img/membros/jessica.jpg">
            <p>Estudante</p>
          </div>
    </section> 
  </body>
</html>
