<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
   <meta charset='UTF-8'>
     <link rel="shortcut icon" href="/img/turmalinasPreto.png" type="image/x-icon">
    <title>Turmalinas Tech</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" data-integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe" data-crossorigin="anonymous">
    <link rel="stylesheet" type='text/css' href="css/style.css" />
  </head>
  <body>
  
   <div th:replace="fragments/menu :: navbar">
   </div>
   
   <div class="text-1">
   		<h1>Co-Fundadoras</h1>
   </div>
    <hr>
    <section class="flex">
      <div>
        <img src="/img/membros/alanamm.jpg">
        <p>Prof. Drª Alana Morais</p>
         <a><i class="fab fa-instagram"></i></a>
         <a><i class="fab fa-linkedin"></i></a>
      </div>
      <div>
        <img src="/img/membros/alinemm.jpg">
        <p>Prof. Drª Aline Morais</p>
         <a><i class="fab fa-instagram"></i></a>
         <a><i class="fab fa-linkedin"></i></a>
      </div>
      <div>
        <img src="/img/membros/sheylana.jpg">
        <p>Prof. Meª Sheyla Medeiros</p>
         <a><i class="fab fa-instagram"></i></a>
         <a><i class="fab fa-linkedin"></i></a>
      </div>
    </section>

      <h1>Equipe</h1>
      <hr>
    <section class="flex">
        <div>
            <img src="/img/membros/lycia.jpg">
            <p>Graduanda</p>
            <a><i class="fab fa-instagram"></i></a>
         	<a><i class="fab fa-linkedin"></i></a>
          </div>
          <div>
            <img src="/img/membros/raissa.jpg">
            <p>Graduanda</p>
            <a><i class="fab fa-instagram"></i></a>
            <a><i class="fab fa-linkedin"></i></a>
          </div>
          <div>
             <img src="/img/membros/mel.jpg">
            <p>Graduanda</p>
            <a><i class="fab fa-instagram"></i></a>
            <a><i class="fab fa-linkedin"></i></a>
          </div>
          <div>
            <img src="/img/membros/priscilla.jpg">
            <p>Graduanda</p>
            <a><i class="fab fa-instagram"></i></a>
            <a><i class="fab fa-linkedin"></i></a>
          </div>
          <div>
            <img src="/img/membros/mariana.jpg">
            <p>Graduanda</p>
            <a><i class="fab fa-instagram"></i></a>
            <a><i class="fab fa-linkedin"></i></a>
          </div>
          <div>
            <img src="/img/membros/cris.jpg">
            <p>Graduanda</p>
            <a><i class="fab fa-instagram"></i></a>
            <a><i class="fab fa-linkedin"></i></a>
          </div>
          <div>
            <img src="/img/membros/isabelle.jpg">
            <p>Graduanda</p>
            <a><i class="fab fa-instagram"></i></a>
            <a><i class="fab fa-linkedin"></i></a>
          </div>
          <div>
            <img src="/img/membros/jussara.jpg">
            <p>Graduanda</p>
            <a><i class="fab fa-instagram"></i></a>
            <a><i class="fab fa-linkedin"></i></a>
          </div>
          <div>
             <img src="/img/membros/priscilla-2.jpg">
            <p>Graduanda</p>
            <a><i class="fab fa-instagram"></i></a>
            <a><i class="fab fa-linkedin"></i></a>
          </div>
          <div>
            <img src="/img/membros/ayrana.jpg">
            <p>Graduanda</p>
             <a><i class="fab fa-instagram"></i></a>
             <a><i class="fab fa-linkedin"></i></a>
          </div>
          <div>
            <img src="/img/membros/tamiris.jpg">
            <p>Graduanda</p>
            <a><i class="fab fa-instagram"></i></a>
            <a><i class="fab fa-linkedin"></i></a>
          </div>
          <div>
            <img src="/img/membros/jessica.jpg">
            <p>Graduanda</p>
            <a><i class="fab fa-instagram"></i></a>
            <a><i class="fab fa-linkedin"></i></a>
          </div>
    </section> 
  </body>
</html>
