<!DOCTYPE html>
<html>
<head>
   <meta charset='UTF-8'>
   <link rel="shortcut icon" href="img/turmalinasPreto.png" type="image/x-icon">
   <title>Turmalinas Tech</title>
   <meta name='viewport' content='width=device-width, initial-scale=1'>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" data-integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe" data-crossorigin="anonymous">
   <link rel='stylesheet' type='text/css' href='css/produto.css'>
</head>
<body>
        <header>
                <a href="/"><img class="img-logo" src="img/logo/turmalinasTechAzul1.png" alt="Logo Tipo"></a>
                 <nav class="nav"  data-container="menu">
                 <ul>
                    <li><a href="#turmalinas">Sobre nós</a></li>
                    <li><a href="/membros">Membros</a></li>
                    <li><a href="#">Eventos</a></li>
                    <li><a href="#">Publicações</a></li>
                    <li><a href="/produtos">Produtos</a></li>
                    <li><a href="#contat">Contato</a></li>
                 </ul>       
                </nav>
            </header>
            
             <h1>PRODUTOS TURMALINAS TECH</h1>
             
           <section class="flex">
               <div>
                   <img src="./img/produtos/agenda preta.jpg">
                   <p>Agendas</p>
                 </div>
                 <div>
                   <img src="./img/produtos/buttons.jpg">
                   <p>Buttons</p>
                 </div>
                 <div>
                   <img src="./img/produtos/canecas.jpg">
                   <p>Canecas</p>
                 </div>
                 <div>
                   <img src="./img/produtos/copos.jpg">
                   <p>Copos</p>
                 </div>
                 <div>
                   <img src="./img/produtos/caderno.jpg">
                   <p>Cadernos</p>
                 </div>
                 <div>
                     <img src="./img/produtos/camisas.jpg">
                     <p>Camisas</p>
                </div>
           </section> 
    
</body>
</html>